/* * {
    background-color: black;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
} */

 .abt {
    display: flex;
}

.abt-left {
    margin-left: 10vw;
    margin-right: 5vw;
}

.abt-right{
    margin-right: 10vw;
}

.abt img{
    border-radius: 10px;
}

.heading {
    margin-top: 35px;
}

#email,
#name,
#text-box {
    color: wheat;
}

#text-box {
    height: 40px;
}

