* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: wheat;
}

.abt {
    display: flex;
}

.abt-left{
    margin-right: 30vw;
}

.abt-right{
    align-content: center;
}

.margin {
    margin-left: 10vw;
    padding-top: 5px;
    margin-right: 10vw;
}

.heading {
    margin-left: 5vw;
    margin-top: 35px;
}
