/* to remv defaults and enable consistent styling */
* {
    font-family: 'Times New Roman', Times, serif;
}

/* marging for structure */
.margin {
    margin-left: 10vw;
    /* padding-top: 5px; */
    margin-right: 10vw;
}

.trending {
    background-color: black;
    padding: 80px;
    display: flex;
}

.trending-blog {
    color: wheat;
}

.col-wh{
    color: wheat;
}

.col-wh:hover{
    color: white;
}

.trending-blog a {
    color: wheat;
}

.trend-right {
    margin-left: 30vw;
    color: wheat;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
}

.btn:hover{
    border: 1px solid black;
    color: white;
}

/* explore */
.explore {
    background-color: wheat;
    color: black;
}

.prev-blog {
    margin: 3%;
    cursor: pointer;
    display: block;
    width: 100vw;
}

.exp-blogs img {
    width: 100%;
    border-radius: 10px;
}