/* to remv defaults and enable consistent styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trending {
    background-color: black;
    padding: 80px;
    display: flex;
}

.margin {
    margin-left: 10vw;
    margin-top: 5px
}

.trending-blog {
    color: wheat;
}

.trending-blog a {
    /* text-decoration: none; */
    color: wheat;
}

.trend-right {
    margin-left: 30vw;
    color: wheat;
}

.btn {
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    color: black;
    border: 1px solid wheat;
    background-color: wheat;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

.explore {
    background-color: wheat;
    color: black;
    margin-top: -5px;
}

.exp-blogs {
    display: flex;
    justify-content: center;
}

.prev-blog {
    margin: 10px;
}