/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  font-family: "Times New Roman", Times, serif;
}

.margin {
  margin-left: 10vw;
  margin-right: 10vw;
}

.btn {
  border: 1px solid black;
  border-radius: 5px;
  color: wheat;
}

.btn:hover {
  border: 1px solid black;
  color: white;
}

.col-wh {
  color: wheat !important;
}

.col-wh:hover {
  color: white;
}

.form-control::placeholder {
  color: lightgrey;
  opacity: 1;
}

#text-box {
  min-height: 200px;
}

.nav-logo-container {
  position: relative;
  width: 70px; 
  aspect-ratio: 1 / 1;
}

.nav-logo {
  object-fit: contain; 
}

.abt-home {
  margin-bottom: 0;
}
