/* to remv defaults and enable consistent styling */
/* * {
    font-family: 'Times New Roman', Times, serif;
} */

/* marging for structure */
.trending {
    background-color: black;
    padding: 80px;
    display: flex;
}

.trending_blog {
    color: wheat;
}

.col_wh{
    color: wheat;
}

.col_wh:hover{
    color: white;
}

.trending_blog a {
    color: wheat;
}

.trend_right {
    margin-left: 20vw;
    color: wheat;
}
.trend_left{
    margin-right: 10vw;
}

/* explore */
.explore {
    background-color: wheat;
    color: black;
}

.exp_blogs img {
    width: 100%;
    border-radius: 10px;
}

.hover {
    cursor: pointer;
}

/* .margin {
    margin-left: 10vw;
    margin-right: 10vw;
} */