* {
    font-family: 'Times New Roman', Times, serif;
}

.margin {
    margin-left: 10vw;
    margin-right: 10vw;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    color: wheat;
}

.btn:hover {
    border: 1px solid black;
    color: white;
}

.col-wh {
    color: wheat;
}

.col-wh:hover {
    color: white;
}

.form-control::placeholder {
    color: lightgrey;
    opacity: 1;
}

#text-box {
    min-height: 200px;
}

.nav-img {
    width: 7%;
}

.abt-home{
    margin-bottom: 0;
}
